.btn
{
	border-radius: 5px;
	border: 1px solid #333;
	color: #333;
	padding: 5px 10px;
	-webkit-transition: all .4s ease;
	   -moz-transition: all .4s ease;
		   -o-transition: all .4s ease;
		      transition: all .4s ease;
}

.btn:hover
{
	border: 1px solid #AF001F;
	background: #AF001F;
	color : white;
	cursor: pointer;
}