
@media screen and (max-width: 968px) {

	td
	{
		display: block;
	}

	nav
	{
		padding-top: 30px;
		padding-bottom: 10px;
	}

	nav > table
	{
		width: 100%;
	}

	#cmu-logo,
	#nav-contact-info
	{
		width: 100%;
		float: none;
		padding: 0;
	}

	#nav-contact-info
	td
	{
		text-align: center;
	}

	.announcement
	{
		width: 100%;
		bottom: 0;
		left: 0;
	}

	.announcement p
	{
		width: 90%;
	}

}