html
{
	font-family: 'Open Sans', sans-serif;
}

body
{
	margin: 1px;
	padding: 1px;
}

*
{
	max-width: 100% !important;
}

a
{
	text-decoration: none;
	color: inherit;
	transition: all .2s ease;
}

a:hover
{
	color: #AF001F;
}

/* NAV STYLES */

nav > table
{
	border-collapse:separate; 
	border-spacing: .6em;
	width: 50%;
	table-layout: fixed;
	text-align: right;
}

.banner
{
	height: 400px;
	position: relative;
}

.announcement
{
	padding: 0 30px 10px 30px;
	background: rgba(255,255,255,.8);
	width: 40%;
	margin: 0;
	position: absolute;
	bottom: 30px;
	left: 30px;
}

.announcement
h5
{
	color: #303030;
}


/* NAV */


#nav-buttons
{
	list-style: none;
	width: 90%;
	padding: 0;
	display: inline-block;
	text-align: right;
	margin: 0 5%;
}


#nav-buttons
li
{
	padding-top: 25px;
	margin-top: 10px;
	display: inline-block;
}

#cmu-logo
{
	padding-top: 0 !important;
	width: 300px;
	float: left;
	display: inline-block;
}

#home-banner
{
	background-image: url(./images/test-banner.jpg);
	background-size: cover;
	background-position: 50%
}

/* MAIN */

main table
{
	table-layout: fixed;
	width: 100%;
	padding: 2% 10%;
}

main table td
{
	padding: 3%;
}


/* FOOTER */

footer
{
	background-color: #333;
	color: rgba(255,255,255,.5);
}

footer
#copyright
{
	background: url("./images/logo-backdrop.png") no-repeat;
	background-size: cover;
	background-position: center;
}

footer
#copyright
{
	vertical-align: bottom;
}

footer table
{
	width: 100%;
	margin: 0 auto;
	padding: 1% 2%;
	table-layout: fixed;
}

footer ul
{
	list-style: none;
}

footer td
{
	vertical-align: top;
}



